.manager-users {
  align-items: center;
  background: #e0e0e0;
  border-radius: 1rem;
  box-shadow: 20px 20px 60px #bebebe , -20px -20px 60px var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
  padding: 1rem;
  text-align: center;
}

.table th {
  font-size: 1.7rem;
  font-weight: 500;
}

.table td {
  box-shadow: 0 6px 14px 0 rgba(59, 58, 58, 0.75);
  color: var(--secondary);
  font-size: 1.5rem;
  padding: 0.6rem 5rem;
}

.button {
  background: none;
  border: none;
  color: var(--secondary);
  cursor: pointer;
  padding: 0.6rem 5rem;
}

.table td:nth-child( 1 ) {
  background-color: var(--light-grenn);
  border-radius: 1rem 0 0 1rem;
  color: var(--primary);
}

.table td:nth-child( 2 ) {
  background-color: var(--secondary);
  color: var(--primary);
}

.table td:nth-child( 3 ) {
  background-color: var(--dark-grenn);
}

.table td:nth-child( 4 ) {
  background-color: var(--purple);
}

.table td:nth-child( 5 ) {
  background-color: var(--light-blue);
  border-radius: 0 1rem 1rem 0;
  padding: 0;
}
