.container {
  display: flex;
  flex-direction: row;
  height: 5rem;
  justify-content: center;
  width: 100%;
}

.quantity-controller {
  width: 30%;
}

.quantity-display {
  text-align: center;
  width: 40%;
}
