.link-card {
  color: black;
  text-decoration: none;
}

.container {
  background-color: #e5e5e5;
  border-radius: 1rem;
  display: flex;
  max-height: 12rem;
  max-width: 45rem;
  min-height: 6rem;
  min-width: 30rem;
}

.container p {
  font-size: 1.5rem;
}

.id {
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  height: 10rem;
  justify-content: center;
  max-width: 6rem;
  padding: 1rem;
  text-align: center;
}

.status {
  align-items: center;
  background-color: #ccb800;
  border-radius: 1rem;
  display: flex;
  height: 8rem;
  justify-content: center;
  width: 12rem;
}

.order-data {
  display: flex;
  flex-direction: column;
}

.order-data p {
  margin: 0.5rem;
}

.date-value {
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  height: 3rem;
  justify-content: center;
  padding: 0 2rem;
  width: 10rem;
}

.address {
  margin-left: -10rem;
}
