.link-card {
  color: var(--primary);
  text-decoration: none;
}

.container {
  background-color: var(--bg-light);
  border-radius: 0.5rem;
  box-shadow: 20px 20px 60px #bebebe , 20px -10px 60px var(--secondary);
  display: flex;
  max-height: 12rem;
  max-width: 45rem;
  min-height: 6rem;
  min-width: 30rem;
}

.container p {
  font-size: 1.5rem;
}

.container h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.id {
  align-items: center;
  background-color: var(--secondary);
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  height: 8rem;
  justify-content: center;
  max-width: 6rem;
  padding: 2rem;
  text-align: center;
}

.statusSeller {
  align-items: center;
  background-color: var(--grenn-status);
  border-radius: 0 0.5rem 0.5rem;
  display: flex;
  font-weight: 500;
  height: 7rem;
  justify-content: center;
  width: 14rem;
}

.statusCustomer {
  align-items: center;
  background-color: var(--grenn-status);
  border-radius: 0 0.5rem 0.5rem;
  display: flex;
  font-weight: 500;
  height: 12rem;
  justify-content: center;
  width: 14rem;
}

.order-data {
  display: flex;
  flex-direction: column;
}

.order-data p {
  margin: 0.5rem;
}

.dateValueSeller {
  align-items: center;
  background-color: var(--data-value);
  border-radius: 0.5rem;
  display: flex;
  font-weight: 500;
  height: 2.7rem;
  justify-content: center;
  padding: 0 2rem;
  width: 15rem;
}

.dateValueCustomer {
  align-items: center;
  background-color: var(--data-value);
  border-radius: 0.5rem;
  display: flex;
  font-weight: 500;
  height: 5rem;
  justify-content: center;
  padding: 0 2rem;
  width: 15rem;
}

.address {
  margin-left: -10rem;
  margin-right: 1rem;
}
