.margin-container {
  box-shadow: rgb(0 0 0 / 20%) 0 2px 6px;
  padding: 2rem;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  height: 100%;
  justify-content: space-between;
  margin: auto;
  max-width: 40rem;
  min-height: 30rem;
  width: 100%;
  /* border: 2px dotted black; */
}

.product-image {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 18rem;
  margin: auto;
}

.product-title {
  display: block;
  font-size: 1.7rem;
}