.checkout {
  align-items: center;
  background-color: green;
  border: 50%;
  border-radius: 5rem;
  bottom: 5vh;
  display: flex;
  font-size: 2.5rem;
  height: 10rem;
  justify-content: center;
  margin: auto;
  position: sticky;
  width: 30rem;
}

.checkout:has( .navbutton:disabled ) {
  background-color: gray;
}

.navbutton {
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 2.5rem;
}

.navbutton:disabled {
  background-color: gray;
  cursor: default;
}
