/* .card-pedidos {
  display: flex;
  background-color: #E5E5E5;
  border-radius: 2rem;
  width: 45rem;
}

.order-data {
  background-color: red;
  display: flex;
  flex-direction: row;
}

.order {
  background-color: blue;
} */