.form-container {
  align-items: center;
  background: #e0e0e0;
  border-radius: 1rem;
  box-shadow: 20px 20px 60px #bebebe , -20px -20px 60px var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
  padding: 1rem;
  text-align: center;
}

.button {
  background-color: var(--dark-grenn);
  border: none;
  border-radius: 0.5rem;
  color: var(--secondary);
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.1rem 5rem;
}

.form {
  display: flex;
  padding: 2rem;
}

.form-label {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
}

.inputs {
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  width: 25rem;
}
