.container {
  display: flex;
  justify-content: center;
}

.margin-container {
  background-color: var(--dark-grenn);
  display: flex;
  height: max(8rem, 8vh);
  justify-content: space-between;
  max-width: 160rem;
  width: 100%;
}

.common-links-container {
  background-color: var(--light-grenn);
  display: flex;
  justify-content: flex-start;
  width: 30%;
}

.role-links-container {
  align-items: center;
  background-color: var(--purple);
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.product-orders {
  align-items: center;
  background-color: var(--dark-grenn);
  color: var(--secondary);
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  justify-content: center;
  text-decoration: none;
  width: 50%;
}

.user-name {
  color: var(--secondary);
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  width: 50%;
}

.logout {
  align-items: center;
  background-color: var(--light-blue);
  color: var(--secondary);
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: 50%;
}
