/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap') ;

/* css variables */
:root {

  --primary: black;

  --secondary: white;

  --gray: gray;

  --green: green;

  --bg-dark: #b3ada7;

  --bg-light: #e0e0e0;

  --grenn-status: #ccb800;

  --light-grenn: #2FC18C;

  --dark-grenn: #036B52;

  --purple: #421981;

  --light-blue: #056CF9;

  --data-value: #f2fffcbf;
  
  --head-order: #d1d1d1;

  --title-font: 'Montserrat' , sans-serif;
}


html {
  border: 0;

  /* 1rem = 10px */
  font-size: 62.5%;

  /* css resetter */
  margin: 0;
  padding: 0;
}
