.page-container {
  background-color: var(--bg-light);
  height: fit-content;
  min-height: 90vh;
  width: 100%;
}

.container {
  margin: auto;
  max-width: 120rem;
  padding: 2rem;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;

  /* display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.background {
  color: var(--bg-light);
}
