.links {
  align-items: center;
  color: var(--primary);
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  width: 50%;
}

.links:hover {
  background-color: var(--hover-grenn-dark);
  color: var(--secondary);
  transition: 400ms;
}
